[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/ctrl-p"]
	path = bundle/ctrl-p
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/sql-utilities"]
	path = bundle/sql-utilities
	url = git@github.com:robert-claypool/SQLUtilities.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule "bundle/vim-intrestingwords"]
	path = bundle/vim-intrestingwords
	url = git@github.com:vasconcelloslf/vim-interestingwords.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = git@github.com:Chiel92/vim-autoformat.git
[submodule "bundle/changesPlugin"]
	path = bundle/changesPlugin
	url = git@github.com:chrisbra/changesPlugin.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = git@github.com:rking/ag.vim.git
[submodule "bundle/vim-fontsize"]
	path = bundle/vim-fontsize
	url = git@github.com:drmikehenry/vim-fontsize.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "bundle/vim-vinegar"]
	path = bundle/vim-vinegar
	url = git@github.com:tpope/vim-vinegar.git
